root = true

[*]
insert_final_newline = true

[*.cs]
# attributes always go on their own line
resharper_place_accessorholder_attribute_on_same_line = never
resharper_place_field_attribute_on_same_line = never
